@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Asap";
  --header-font: "Allan";
}

body {
    overflow-y: hidden;
    font-family: var(--body-font);
}

html {
    zoom: 0.8;
}