@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

.title {
    position: absolute;
    left: 20px;
    font-family: "Allan";
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff !important; 
    font-weight: 550;
}
  
.header {
    justify-content: left;
    align-items: center;
    display: flex;
    position: absolute;
    width: 1920px;
}

.main_header {
    height: 68px;
    top: 0;
    left: 0;
    background-color: #272727;
    z-index: 3;
}

.navLink {
    font-size: 20px;
    font-family: "Asap";
    font-weight: 500;
    color: #fff !important;
    padding-left: 40px !important;
    align-items: center;
}

.subHeader {
    position: absolute;
    background-color:rgb(255, 255, 255);
    height: 86px;
    top: 68px;
    left: 0px;
    box-shadow: 0 0 10px #727272;
    z-index: 2;
}

.subtitle {
    color: #000 !important;
    position: absolute;
    font-weight: 600;
    padding-left: 0;
    left: calc(0.5 * 1920px);
    padding-top: 26px;
}